.card {
	width: 100%;
}
.row {
	margin: 0;
}
#quota_finale,
#vincita{
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
#importo{
	text-align: center;
}
.icon-cancel{
    color: red;
    float: right;
    cursor: pointer;
}
#importo::-webkit-outer-spin-button,
#importo::-webkit-inner-spin-button {
    -webkit-appearance: none;
}